.av_comments {
  background-color: $white;
    h4 {
      margin-left: 20px;
      margin-top: 10px;
        font-family: 'worksans-regular';
        color: $tertiary-color;
    }

    &__form {
      width: 90%;
      margin: 0 auto;
        textarea {
            border: 1px solid $tertiary-color;
        }
    }

    .av_comment__item {
        background-color: $white;
        margin-bottom: 20px;
        padding: 20px;

        .comment__user {
          padding: 0px;
          margin-bottom: 0;
         }

        .comment__user img {
            height: 40px;
            width: 40px;
            border-radius: 50px;
            border: 1px solid $tertiary-color;

        }

        .comment__body__meta__flag {

        }

        .comment__body__meta__flag:hover {
          cursor: pointer;
        }

        .comment__body {
            font-family: 'worksans-regular';
            color: $tertiary-color;
            width: 600px;
            padding: 0px;
            font-size: rem-calc(10);

            p {
                color: darken($tertiary-color, 20);
                font-size: rem-calc(12);
            }
        }
    }
}
