// LATEST
.av_dashboard_latest {

    .av_main_heading {
      margin: 30px 0;
    }

    hr {
      margin-bottom: 0px;
    }

    .av_heading--red {
      font-family: 'josefin-regular';
      font-size: rem-calc(16);
    }

    .av_latest_column:not(:last-child) {
        min-height: 700px;
        box-sizing: border-box;
        border-right: thin solid lightgray;
    }

    .av_latest_column {
      padding-top: 20px;
    }

    // SHOTS
    .av_latest_shots {
        .av_shot_item {
            margin-bottom: 10px;
            display: block;
            height: 90px;
            padding: 10px 10px 0 10px;
            //box-shadow: 0 1px 1px gray;
            outline: 1px solid lightgray;

            &:hover {
                outline: 1px solid gray;
            }

            .av_i_image_wrapper {
                width: 100px;
            }

            .av_i_image_wrapper img {
                width: 100%;
                height: 70px;
            }

            .av_i_caption_wrapper {
                width: 200px;
            }

            .av_i_caption {
                min-height: 50px;
                margin-bottom: 5px;
                font-size: rem-calc(12);
                font-family: 'worksans-regular';
                color: gray;
            }

            .av_i_info {
                font-size: rem-calc(10);
                font-family: 'muli-regular';
                color: gray;
            }
        }
    } // Shots

    // COMMENTS
    .av_comment_item {
        margin-bottom: 10px;
        display: block;
        min-height: 30px;
        padding: 10px 10px 0 10px;
        outline: 1px solid lightgray;

        &:hover {
            cursor: pointer;
            outline: 1px solid gray;
        }

        .av_i_body {
            margin-bottom: 5px;
            font-size: rem-calc(12);
            font-family: 'worksans-regular';
            color: gray;
        }

        .av_i_info {
            font-size: rem-calc(10);
            font-family: 'muli-regular';
            color: gray;
        }
    } // Comments

    // FLAGS
    .av_flag_item {
        margin-bottom: 10px;
        display: block;
        min-height: 30px;
        padding: 10px 10px 0 10px;
        outline: 1px solid lightgray;

        &:hover {
            outline: 1px solid gray;
        }

        .av_i_message {
            margin-bottom: 5px;
            font-size: rem-calc(12);
            font-family: 'worksans-regular';
            color: gray;
        }

        .av_i_info {
            font-size: rem-calc(10);
            font-family: 'muli-regular';
            color: gray;
        }

        .av_i_type {
            margin-right: 25px;
        }
    } // Flags

    // USERS
    .av_user_item  {
        margin-bottom: 10px;
        display: block;
        min-height: 30px;
        padding: 10px 10px 0 10px;
        outline: 1px solid lightgray;

        &:hover {
            outline: 1px solid gray;
        }

        .av_i_username {
            margin-bottom: 5px;
            font-size: rem-calc(12);
            font-family: 'worksans-regular';
            color: gray;
        }

        .av_i_date {
            font-size: rem-calc(10);
            font-family: 'muli-regular';
            color: gray;
        }
    }
}
