<h1>Editing Aircraft</h1>

<%= render "engine_form", engine: @engine, url: admin_editor_engine_path(@engine) %>

<%= link_to 'Show', admin_editor_engine_path(@engine) %> |
<%= link_to 'Back', admin_editor_engines_path %>
