@font-face {
  font-family: 'worksans-light';
  src: font-url('Work_Sans/WorkSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'worksans-regular';
  src: font-url('Work_Sans/WorkSans-Regular.ttf') format('truetype');
}

// #shots_controller {
//   font-family: 'worksans-light';
//   color: red;
// }
