p {
  font-family: 'worksans-regular';
  color: #617374;
  font-size: rem-calc(14);
}

.av_error {
  font-family: monospace;
  color: salmon !important;
}

.error {
  color: salmon !important;
}

.av_fav {
  color: salmon;

  &:hover {
    color: darken(salmon, 20);
  }
}

.av_flag {
  cursor: pointer;

  &:hover {
    color: #000;
  }
}

// For will_paginate
.digg_pagination {
  text-align: center;
  margin-top: 20px;
  font-family: 'muli-regular';
  color: darkgray;
  font-size: rem-calc(14);
}
