<div class="row">
  <div class="large-3 columns">
    <div class="clearfix">
      <section class="float-left">
        <i class="fa fa-user"></i>
      </section>
      <section class="float-right">
        <span>2343</span>
      </section>
    </div>
    <p><em>No.of users.</em></p>
  </div>
  <div class="large-3 columns">
    <div class="clearfix">
      <section class="float-left">
        <i class="fa fa-plane"></i>
      </section>
      <section class="float-right">
        <span>12</span>
      </section>
    </div>
    <p><em>No.of aircrafts profile created.</em></p>
  </div>
  <div class="large-3 columns">
    <div class="clearfix">
      <section class="float-left">
        <i class="fa fa-camera-retro"></i>
      </section>
      <section class="float-right">
        <span>12</span>
      </section>
    </div>
    <p><em>No.of shots created by users.</em></p>
  </div>
  <div class="large-3 columns">
    <div class="clearfix">
      <section class="float-left">
        <i class="fa fa-flag"></i>
      </section>
      <section class="float-right">
        <span>12</span>
      </section>
    </div>
    <p><em>No.of spam pending for review.</em></p>
  </div>
</div>
