<section class="row av_admin">
    <ul class="row column menu simple av_admin__menu">
        <li><a href="">Dashboard</a></li>
        <li><a href="">Editor</a></li>
        <li><a href="">Sub attributes</a></li>
        <li><a href="">Users</a></li>
        <li><a href="">Comments</a></li>
        <li><a href="">Shots</a></li>
        <li><a href="">Flags</a></li>
    </ul>
</section>
