<%= page_title "avxplr - #{@user.username}'s profile" %>
<div class="large-8 columns av_user_profile">
  <div class="av_user_profile_wrapper">
    <h3 class="av_heading">@<%= @user.username %></h3>
  </div>
</div>
