<h3>New Aircraft</h3>

<%= render "aircraft_form", aircraft: @aircraft, url: admin_editor_aircrafts_path %>
<%#= render "aircraft_form_for", aircraft: @aircraft, url: admin_editor_aircrafts_path %>
<%#= render "aircraft_form_for", aircraft: @aircraft %>
