<%= page_title "avxplr - About" %>

<div class="large-8 columns av_page av_page_about">
  <section class="av_page_wrapper">
    <h3 class="av_heading">About</h3>
    <p>avxplr - aviation explore is a place for aviation enthusiasts.</p>
  </section>
</div>
