<%= page_title "avxplr - About" %>

<div class="large-8 columns av_page av_page_about">
  <section class="av_page_wrapper">
    <h3 class="av_heading">About us</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim distinctio cum rem voluptatibus amet quibusdam vero eligendi repudiandae. Voluptas nostrum ratione repellendus sit dignissimos mollitia magni quos sunt adipisci odit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim distinctio cum rem voluptatibus amet quibusdam vero eligendi repudiandae. Voluptas nostrum ratione repellendus sit dignissimos mollitia magni quos sunt adipisci odit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim distinctio cum rem voluptatibus amet quibusdam vero eligendi repudiandae. Voluptas nostrum ratione repellendus sit dignissimos mollitia magni quos sunt adipisci odit.</p>
  </section>
</div>
