<%= page_title "avxplr - contact" %>

<div class="large-8 columns av_page av_page_contact">
  <section class="av_page_wrapper">
    <h3 class="av_heading">Contact</h3>
    <p>you can contact me at the given address.</p>
    <email>naveen@arrc.in</email>
    <a href="http://twitter.com/arrcoder">twitter</a>
  </section>
</div>
