<%= page_title "avxplr - credits" %>

<div class="large-8 columns av_page av_page_credits">
  <section class="av_page_wrapper">
    <h3 class="av_heading">Credits</h3>
    <p>
      tldr; opensource projects &amp;
      <a href="http://google.com">google</a> &amp;
      <a href="http://stackoverflow.com">stackoverflow</a>  &amp;
      <a href="http://youtube.com">youtube</a> &amp;
      <a href="http://github.com">github</a>.
    </p>
    <p>there are many pieces to this puzzle.</p>
    <p>this is website would'nt be possible without the spirit of opensource software</p>
  </section>
</div>
