<%= page_title "avxplr - faq" %>

<div class="large-8 columns av_page av_page_faq">
  <section class="av_page_wrapper">
    <h3 class="av_heading">FAQ</h3>
    <div class="av_faq_wrapper">
      <h4 class="av_faq_question">why does this site exist?</h4>
      <div class="av_faq_answer">
        <p>I wanted to collect everthing about aviation and put it in one place.</p>
      </div>
    </div>

    <div class="av_faq_wrapper">
      <h4 class="av_faq_question">Can we contribute in any way?</h4>
      <div class="av_faq_answer">
        <p>You can participate by submiting shots.</p>
        <p>In future I plan to create a public interface through which normal users could contribute by creating aircrafts profile, moderate site content etc. </p>
      </div>
    </div>

    <div class="av_faq_wrapper">
      <h4 class="av_faq_question">There is copyrighted / spam / inapproprite content or comment submited by users on this site?</h4>
      <div class="av_faq_answer">
        <p>There is <strong>flag</strong> button on every user submited content like shots or content. You can report such content to admin (me) and I'll remove it imideatly.  </p>
        <p>You can even add any additional information regarding the offending content in the flag form. </p>
      </div>
    </div>
  </section>
</div>
