.av_admin {
  background-color: $white;

  .av_header_wrapper {
    width: 95%;
    margin: 10px auto;
    // padding: 10px 10px 0;
  }

  table {
    width: 95%;
    margin: 0 auto;
  }

  table thead {
    font-family: 'worksans-regular';
    letter-spacing: 1px;
    color: darkcyan;
  }

  table tbody {
    font-family: worksans-regular;
    color: #444;
    font-size: rem-calc(14);
  }

  .av_search_form {
    font-family: worksans-regular;
    letter-spacing: 1px;
    padding: 10px;

    a {
      margin-bottom: 0 !important;
    }

    form {
      display: inline-block !important;
    }
  }
}
