$subnav-row--min-height: 100px;
.av_subnav {

    margin-top: 20px;
    &__column {

    }

    &__column--menu {
    }

    &__column--quotes {

    }

    &__quotes {
        min-height: 96px;
        line-height: 96px;
        background-color: $white;
        font-family: 'josefin-italic';
        text-align: center;
        padding: 5px;
        color: darken($tertiary-color, 20);
        position: relative;

        .av_font_icon {
          position: absolute;
          top: 5px;
          left: 5px;
          font-style: italic;
          // color: gainsboro;
          color: rgba(220,220,220,0.5);
          font-size: 42px;
        }

        span {
            display: inline-block;
            vertical-align: middle;
            line-height: 20px;
            position: relative;
            z-index: 10;
        }
    }

    &__menu {
//        padding-left: 17px;
//        padding-right: 17px;
        min-height: 90px;
        background-color: $white;
    }

    &__menu__item {
        width: 150px;
        text-align: center;
        a {
          padding: 0 !important;
          color: $secondary-color;
        }
    }

    &__menu__item:hover {
        cursor: pointer;
        background-color: $hover-color;
    }

    &__menu__item-icon {
        color: $tertiary-color;
        min-height: 80px;
        font-size: 80px;
    }

    &__menu__item-name {
        font-family: 'josefin-italic';
        margin-bottom: 0;
        a { color: $secondary-color; }
    }

    &__menu__item-count {
//        border-left: solid black;
        border-left-width: thin;
        font-family: 'josefin-regular';
        margin-bottom: 0;
        a { color: $tertiary-color; }
    }

    &__menu__item--last {

    }

    &__menu__item--active {
        border-bottom: solid $tertiary-color;
        border-bottom-width: thin;
    }


}
