
.subnav {

  background-color: #fff;

  &--column {
    min-height: 100px;
  }

  &__item {
    width: 150px;
    height: 100px;
    text-align: center;

    &--active {
      color: red;
    }
  }

  &__item-icon {
    font-size: 50px;
    color: $tertiary-color;
  }

  &__item-name {
    margin-bottom: 0px;
    font-family: 'worksans-regular';
    a, a:hover {color: $secondary-color;}
  }

  &__item:hover {
    cursor: pointer;
    background-color: #d6d6d6;
  }

  &__quote {
    color: $tertiary-color;
    font-size: rem-calc(16);
    font-family: 'josefin-light';
    height: 100px;
    text-align: center;
  }
}
