.av_forms {
  .av_checkbox--simple_form {
    background:yellow;
  }

  label {
    font-family: 'worksans-regular';
    color: $secondary-color;
    font-size: rem-calc(16);
  }

  input:not([type="file"]):not([type="submit"]) {
    font-family: 'muli-light';
    color: #444;
    border: none;
    background: transparent;
    border-bottom: 1px solid lightgray;
    box-shadow: none;
  }


  input:focus {
    border: none;
    background: transparent;
    border-bottom: 1px solid lightgreen;
    box-shadow: none;
  }

  input:placeholder-shown {
    border: none;
    background: transparent;
    border-bottom: 1px solid salmon;
    box-shadow: none;
  }

  input[type="radio"] + label {
    color: gray;
    font-family: 'worksans-light';
    font-size: rem-calc(14);
  }

  // .checkbox {
  //   display: inline-block;
  //   margin-right: 10px;
  // }

  .av_help_text {
    font-family: 'muli-regular';
    font-size: rem-calc(10);
    color: gray;
    font-style: italic;
  }

  .check_boxes {
    margin-left: 15px;

    .checkbox > label {
      color: gray;
      cursor: pointer;
      font-size: rem-calc(12);
    }
  }
}
