.av_aircrafts_grid {

}

.av_aircrafts_grid {
  &--wrapper {
    background-color: $white;
  }
}

.av_aircrafts_grid__item {
    height: 350px;
    margin-bottom: 10px;
    text-align: center;


    &:hover {
      background-color: lavender;
    }

    .grid__item__image {

    }

    &--image {
      width: 100%;
      height: 150px;
      border: 0px !important;
    }

    .grid__item__info {
        h5 {
            font-family: 'josefin-italic';
            text-align: center;
            color: $primary-color;
        }

        p {
            font-family: 'worksans-light';
            text-align: center;
            font-size: rem-calc(11);
            color: darken($tertiary-color, 20);
        }
    }
}
