.av_aircrafts_grid {

}

.av_aircrafts_grid {
  &--wrapper {
    background-color: $white !important;
  }
}

.av_aircrafts_grid__item {
    height: 350px;
    padding-top: 10px;
    text-align: center;

    .grid__item__image {

    }

    &--image {
      width: 100%;
      height: 150px;
      border: 0px !important;
      margin-bottom: 0 !important;
    }

    .grid__item__info {
      background: ghostwhite;
      padding-top: 16px;
        h5 {
            font-size: rem-calc(16);
            font-family: 'josefin-italic';
            text-align: center;
            color: $primary-color;
        }

        p {
            font-family: 'worksans-light';
            text-align: center;
            font-size: rem-calc(11);
            color: darken($tertiary-color, 20);
        }
    }
}
