.av_user_profile {
  &_wrapper {
    background-color: white;
  }

  .av_user_profile_image {
    width: 150px;
    height: 150px;
    margin-right: 5%;

    img {
      max-width: 150px;
      max-height: 150px;
    }
  }

  .av_user_profile_username {

  }
}
