.av_user_profile {
  &_wrapper {
    background-color: white;
    position: relative;

    .av_i_edit {
      text-align: center;
      background: gainsboro;
      width: 100px;
      padding: 5px;
      position: absolute;
      top: 20px;
      right: 0px;
      font-size: rem-calc(13);
      color: gray;

      &:hover {
        background: darken(gainsboro, 10);
        color: dimgray;
      }
    }
  }

  .av_user_profile_image {
    width: 150px;
    height: 150px;
    margin-right: 5%;

    img {
      max-width: 150px;
      max-height: 150px;
    }
  }

  .av_user_profile_username {

  }

  .av_profile_posted_shots_grid {

  }

// this grid is used on all three components (posted, favs)
  .av_i_grid_item {
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 200px;

    .av_i_image {
      width: 180px;
      height: 150px;

      img {
        max-width: 180px;
        max-height: 150px;
      }
    }

    .av_i_link {
      text-align: center;
      font-family: 'worksans-regular';
      font-size: rem-calc(12);
    }

    &:hover {
      background-color: #eee;
    }
  }
}
