<div id="new-quote-modal" class="reveal" data-reveal>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <h3>New Quote</h3>
  <%= simple_form_for @quote, url: admin_quotes_path, remote: true do |f| %>
    <%= f.input :body, input_html: {class: 'av_quote_body'} %>
    <%= f.button :submit, "Save", class: "button secondary small" %>
  <% end %>
</div>
