<section class="clearfix">
  <h3 class="float-left">Quotes</h3>
  <%= link_to 'Add new', new_admin_quote_path, remote: true , class: "button small float-right secondary", data: { open: "new-quote-modal" } %>
</section>

<table id="av_quotes_table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Body</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @quotes %>
  </tbody>
</table>
<%= render "new", object: @quote %>
