<% if alert  %>
  <div class="av_flash_messages">
    <p class="av_flash_messages--alert"><%= alert %></p>
  </div>
<% elsif notice  %>
  <div class="av_flash_messages">
    <p class="av_flash_messages--notice"><%= notice %></p>
  </div>
<% end %>
