<section class="av_slideshow">

</section> <hr>
<section class="av_sidebar_footer">
    <div class="menu-centered av_footer av_footer--top">
        <ul class="menu">
            <li><a href="">faq</a></li>
            <li><a href="">about</a></li>
            <li><a href="">contact</a></li>
            <li><a href="">help</a></li>
            <li><a href="">credits</a></li>
        </ul>
    </div>

    <div class="menu-centered av_footer av_footer--bottom">
        <ul class="menu">
            <li><a href="">manufacturers</a></li>
            <li><a href="">roles</a></li>
        </ul>
    </div>
</section>
