<ul class="menu av_subnav__menu">
  <li class="av_subnav__menu__item">
     <section class="av_subnav__menu__item-icon icon-airplane"></section>
     <p class="av_subnav__menu__item-name">
       <a href="#"> Aeroplanes </a>
     </p>
 </li>
 <li class="av_subnav__menu__item">
     <section class="av_subnav__menu__item-icon icon-helicopter"></section>
     <p class="av_subnav__menu__item-name">
       <a href="#"> Helicopters </a>
     </p>
 </li>
 <li class="av_subnav__menu__item">
     <section class="av_subnav__menu__item-icon icon-drone"></section>
     <p class="av_subnav__menu__item-name">
       <a href="#"> Drones </a>
     </p>
 </li>
 <li class="av_subnav__menu__item av_subnav__menu__item--active">
     <section class="av_subnav__menu__item-icon icon-jet"></section>
     <p class="av_subnav__menu__item-name">
       <a href="#"> Jets </a>
     </p>
 </li>
 <li class="av_subnav__menu__item av_subnav__menu__item--last">
     <p class="av_subnav__menu__item-count">
       <a href="#"> 230 </a>
     </p>
 </li>
</ul>
