<div class=" large-up-5">
  <section class="column">Aeroplanes</section>
  <section class="column">Helicopters</section>
  <section class="column">Drones</section>
  <section class="column">Jets</section>
  <section class="column">230</section>
</div>
