<ul class="menu av_subnav__menu">
    <li class="av_subnav__menu__item">
      <%=  link_to shots_path(category: "1") do %>
       <section class="av_subnav__menu__item-icon icon-airplane"></section>
       <p class="av_subnav__menu__item-name">
         <span>Aeroplanes</span>
       </p>
       <% end %>
   </li>
 <li class="av_subnav__menu__item">
   <%=  link_to shots_path(category: "2") do %>
     <section class="av_subnav__menu__item-icon icon-helicopter"></section>
     <p class="av_subnav__menu__item-name">
       <span>Helicoptors</span>
     </p>
     <% end %>
 </li>
 <li class="av_subnav__menu__item">
   <%=  link_to shots_path(category: "3") do %>
     <section class="av_subnav__menu__item-icon icon-drone"></section>
     <p class="av_subnav__menu__item-name">
       <span>Drones</span>
     </p>
     <% end %>
 </li>
 <li class="av_subnav__menu__item av_subnav__menu__item--active">
   <%=  link_to shots_path(category: "4") do %>
     <section class="av_subnav__menu__item-icon icon-jet"></section>
     <p class="av_subnav__menu__item-name">
       <span>Jets</span>
     </p>
     <% end %>
 </li>
 <li class="av_subnav__menu__item av_subnav__menu__item--last">
     <p class="av_subnav__menu__item-count">
       <a href="#"> <%#= @shots_stats %> </a>
     </p>
 </li>
</ul>
