<!-- <div class="row large-up-5 subnav">
  <section class="column">Aeroplanes</section>
  <section class="column">Helicopters</section>
  <section class="column">Drones</section>
  <section class="column">Jets</section>
  <section class="column">230</section>
</div> -->

<ul class="menu">
  <li><a href="#"><span class="icon-drone"></span>Aeroplanes</a></li>
  <li><a href="#">Helicopters</a></li>
  <li><a href="#">Drones</a></li>
  <li><a href="#">Jets</a></li>
  <li><a href="#">230</a></li>
</ul>
